.custom-dropzone{
    display: -webkit-inline-box;
}
.file-input-wrapper{
    position: absolute;
    bottom: 0;
    margin-left: 10px;
}
.custom-preview{
    max-width: 200px;
    max-height: 200px;
    min-width: 200px;
    min-height: 200px;
    background-color: #F2FBEC;

}
.custom-text-center{
    text-align: center;
    padding-top: 45%;
}

.custom-button-bottom{
    text-align: center;
}