
<div class="page page-table" data-ng-controller="ProductsCtrl">

    <section class="panel panel-default table-dynamic">
        <div class="panel-heading clearfix">
            <strong>
                <span class="glyphicon glyphicon-th"/>
                <span data-translate="PRODUCTS"/>
            </strong>

            <div class="pull-right">
                <button class="btn btn-primary btn-w-md"><span class="glyphicon glyphicon-plus"></span>&nbsp;{{'ADD' | translate}}</button>
                <button class="btn btn-success btn-w-md"><span class="glyphicon glyphicon-save"></span>&nbsp;{{'EXPORT' | translate}}</button>
                <button class="btn btn-danger btn-w-md"><span class="glyphicon glyphicon-trash"></span>&nbsp;{{'DELETE' | translate}}&nbsp;({{'SELECTED' | translate}})</button>
            </div>
        </div>

        <div class="table-filters">
            <div class="row">
                <div class="col-sm-4 col-xs-6">
                    <form>
                        <input type="text"
                               placeholder="{{ 'SEARCH' | translate }}"
                               class="form-control"
                               data-ng-model="searchKeywords"
                               data-ng-keyup="search()">
                    </form>
                </div>
                <div class="col-sm-3 col-xs-6 filter-result-info">
                    <span>
                        {{'SHOWING' | translate }} {{filteredStores.length}}/{{stores.length}} {{'ENTRIES' | translate }}
                    </span>
                </div>
            </div>
        </div>

        <table class="table table-bordered table-striped table-responsive">
            <thead>
            <tr class="bg-dark">
                <th><div class="th">
                    <label class="ui-checkbox"><input name="checkbox1" type="checkbox" ><span></span></label>
                </div></th>
                <th><div class="th">
                    {{'PICTURES' | translate}}
                </div></th>
                <th><div class="th">
                    {{'PRODUCTS' | translate}}
                    <span class="fa fa-angle-up"
                          data-ng-click=" order('name') "
                          data-ng-class="{active: row == 'name'}"></span>
                    <span class="fa fa-angle-down"
                          data-ng-click=" order('-name') "
                          data-ng-class="{active: row == '-name'}"></span>
                </div></th>
                <th><div class="th">
                    {{'PRICE' | translate}}
                    <span class="fa fa-angle-up"
                          data-ng-click=" order('price') "
                          data-ng-class="{active: row == 'price'}"></span>
                    <span class="fa fa-angle-down"
                          data-ng-click=" order('-price') "
                          data-ng-class="{active: row == '-price'}"></span>
                </div></th>
                <th><div class="th">
                </div></th>
            </tr>
            </thead>
            <tbody>
            <tr data-ng-repeat="store in currentPageStores">
                <td><label class="ui-checkbox"><input name="checkbox1" type="checkbox" ><span></span></label></td>
                <td>path picture</td>
                <td>{{store.name}}</td>
                <td>{{store.price}}</td>
                <td>
                    <a href="#products-edit" class="btn btn-default"><span class="glyphicon glyphicon-pencil"></span>&nbsp;{{'EDIT' | translate}}</a>
                    <!--<button type="button" class="btn btn-default"><span class="glyphicon glyphicon-pencil"></span>&nbsp;{{'EDIT' | translate}}</button>-->
                </td>
            </tr>
            </tbody>
        </table>

        <footer class="table-footer">
            <div class="row">
                <div class="col-md-6 page-num-info">
                    <span>
                        {{'SHOW' | translate}}
                        <select data-ng-model="numPerPage"
                                data-ng-options="num for num in numPerPageOpt"
                                data-ng-change="onNumPerPageChange()">
                        </select>
                        {{'ENTRIES_PER_PAGE' | translate}}
                    </span>
                </div>
                <div class="col-md-6 text-right pagination-container">
                    <uib-pagination class="pagination-sm"
                                    ng-model="currentPage"
                                    total-items="filteredStores.length"
                                    max-size="4"
                                    ng-change="select(currentPage)"
                                    items-per-page="numPerPage"
                                    rotate="false"
                                    previous-text="&lsaquo;" next-text="&rsaquo;"
                                    boundary-links="true"></uib-pagination>
                </div>
            </div>
        </footer>
    </section>

</div>